.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 40px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* ---- media query ------*/
/* ------- mobile devices -------*/

@media screen and(max-width:576px) {
    .shop-container {
        grid-template-columns: 1fr;
    }

    .products-container {
        grid-template-columns: 1fr;
        margin-left: 20px;
    }
}