.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 40px;
}

.products-container {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cart-container {
    border: 2px solid blue;
}