.product {
    border: 2px solid green;
    position: relative;
    margin: 10px;
    width: 320px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 0 8px 8px -4px lightgreen;
}

.product img {
    display: inline-block;
    margin: 10px 30px;
    width: 200px;
    height: 200px;
}

.product-info p {
    margin: 5px;
    padding-left: 15px;
}

.btn-cart {
    position: absolute;
    bottom: 0;
    border: none;
    width: 100%;
    /* margin-top: 5px; */
    background-color: lightgreen;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}